body{
    margin: 0 auto;
}
div#pageWrapper{
margin: 0 auto;
width: 100%;
height: 100vh;
background-color: #166ac1;
}
div#pageWrapper div#topBarContainer{
    padding: 10px;
    width: 100%;
    height: 70px;
    background-color: #166ac1;
    display: flex;
    position: relative;   
    z-index: 2;           
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.25);
}
div#pageWrapper div#topBarContainer div#logoContainer{
    display: flex;
    justify-content: center;
    width: 100%;
}
div#pageWrapper div#topBarContainer div#searchContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
}
div#pageWrapper div#topBarContainer div#searchContainer input{
    height: 70%;
}
div#pageWrapper div#topBarContainer div#searchContainer img{
    width: 50px;
}
div#pageWrapper div#contentWrapper{
    background-color: #166ac1;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}
div#pageWrapper div#contentWrapper div#content{
    margin-top: 20px;
    background-color: #166ac1;
    width: 70%;
    display: flex;
    
    flex-direction: column;
    align-items: center;
}
div#pageWrapper div#contentWrapper div#content img{
    width: 20%;
}